.mat-tab-label .mat-tab-label-content {
  color: #aaaaaa !important;
}
.mat-card, .mat-card-actions {
  margin: 10px auto;
  width: 28%;
}
.mat-card-actions {
  margin-top:0;
  width: 40%;
}
.mat-card-content {
  margin: 0 auto;
  width: 66%;
}
.mat-form-field {
  margin-top: 10px;
}
.mr {
  margin-top:10px;
}
